.form__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    transition: all .5s ease-in;
}

.form__link:hover {
    opacity: .6;
}