.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: visibility 0.5s linear, opacity 0.5s linear, z-index 0.5s linear;
}